# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Quartus Junk
Quartus/db/**
Quartus/incremental_db/**
Quartus/.qsys_edit/**
Quartus/trolley_system/**
Quartus/output_files/**
Quartus/software/.metadata/**
Quartus/software/WAT_TEST/.metadata/**
Quartus/software/WAT_TEST_bsp/**
!Quartus/output_files/ECE492_g7_2017w_WAT.sof
!Quartus/trolley_system/trolley_system_inst.vhd

#Nios 2 libraries that don't need to be pushed (anymore)
backuplib/**
libjpeg/**
libjpeg2/**

#Used external libraries
!localtest/libjpeg/libjpeg.a
!Quartus/software/WAT_MAIN/libjpeg/libjpeg2.a
!Quartus/software/WAT_TEST/libjpeg/libjpeg2.a

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

Quartus/.qsys_edit/preferences.xml
Quartus/ECE492_g7_2017w_WAT.qws
Quartus/software/WAT_TEST/.settings/language.settings.xml
Quartus/.qsys_edit/preferences.xml
Quartus/.qsys_edit/trolley_system.xml
Quartus/.qsys_edit/trolley_system_schematic.nlv
Quartus/.qsys_edit/filters.xml
*.xml
